* {
  font-family: "Open Sans", sans-serif;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

select,
input {
  width: 12rem;
  height: 2rem;
}

select {
  width: 12.5rem;
}

.form {
  margin: 0 auto;
  max-width: 35rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: #8257e5;
  padding: 4rem 0;
  border-radius: 5px;

  -webkit-box-shadow: 0px 1px 5px 0px #633bbc;
  -moz-box-shadow: 0px 1px 5px 0px #633bbc;
  box-shadow: 0px 1px 5px 0px #633bbc;
}

.form > .groupInput,
.form > .groupSelect,
.form > .action {
  width: 80%;
  margin: 0 auto;
}
.form > .groupInput > .input,
.form > .groupSelect > .select,
.form > .action > .buttonSubmit {
  width: 100%;
  font-weight: 600;
  height: 3.4rem;
  border: none;
  border-radius: 2px;
  font-size: 1.6rem;
  outline: none;
}

.form > .groupSelect > .select {
  width: 103.5%;
}

.form > .groupInput > .input:focus,
.form > .groupSelect > .select:focus {
  outline: 3px solid #633bbc;
}

.form > .groupInput > .input,
.form > .groupSelect > .select {
  padding: 0 0.5rem;
}

.form > .groupSelect > .select {
  margin-top: 1.5rem;
}

.form > .groupSelect > .label {
  font-size: 1.6rem;
  color: #fff;
}

.form > .action > .buttonSubmit {
  font-weight: 600;
  font-size: 1.7rem;

  text-transform: uppercase;
  letter-spacing: 0.1rem;
  cursor: pointer;

  background-color: #633bbc;
  color: #FFF;

  padding: 1rem;
  border-radius: 0.5rem;
  border: none;
  -webkit-box-shadow: 0px 1px 5px 0px #633bbc;
  -moz-box-shadow: 0px 1px 5px 0px #633bbc;
  box-shadow: 0px 1px 5px 0px #633bbc;
  height: 4.4rem;
  letter-spacing: .1rem;
/* 
  height: 4.5rem;
  background-color: #633bbc;
  color: #fff;
  cursor: pointer;

  -webkit-box-shadow: 0px 1px 5px 0px #8257e5;
  -moz-box-shadow: 0px 1px 5px 0px #8257e5;
  box-shadow: 0px 1px 5px 0px #8257e5;

  transition: 0.2s; */
}

.form > .action > .buttonSubmit:hover {
  filter: brightness(0.9);
}
